---
const footerLinks = [
  { label: "Waitlist", href: "#" },
  { label: "Partnerships", href: "#" },
  { label: "Privacy Policy", href: "#" },
  { label: "Terms", href: "#" },
];

const socials = [
  {
    label: "Facebook",
    href: "#",
    path: "M22 12.061C22 6.504 17.523 2 12 2S2 6.504 2 12.061c0 5.022 3.657 9.184 8.438 9.939v-7.03H7.898v-2.909h2.54V9.845c0-2.522 1.493-3.915 3.776-3.915 1.094 0 2.238.196 2.238.196v2.476h-1.26c-1.243 0-1.63.775-1.63 1.57v1.885h2.773l-.443 2.909h-2.33V22c4.78-.755 8.438-4.917 8.438-9.939Z",
  },
  {
    label: "Instagram",
    href: "#",
    path: "M12 2c-2.717 0-3.057.012-4.123.06-1.064.05-1.79.218-2.428.465a4.901 4.901 0 0 0-1.772 1.153A4.902 4.902 0 0 0 2.525 5.45c-.247.637-.415 1.363-.465 2.427C2.012 8.943 2 9.283 2 12s.012 3.057.06 4.123c.05 1.064.218 1.79.465 2.428a4.902 4.902 0 0 0 1.153 1.772 4.901 4.901 0 0 0 1.772 1.153c.637.247 1.363.415 2.427.465 1.067.048 1.407.06 4.124.06s3.057-.012 4.123-.06c1.064-.05 1.79-.218 2.428-.465a4.901 4.901 0 0 0 1.772-1.153 4.902 4.902 0 0 0 1.153-1.772c.247-.637.415-1.363.465-2.427.048-1.067.06-1.407.06-4.124s-.012-3.057-.06-4.123c-.05-1.064-.218-1.79-.465-2.428a4.902 4.902 0 0 0-1.153-1.772A4.901 4.901 0 0 0 18.55 2.525c-.637-.247-1.363-.415-2.427-.465C15.057 2.012 14.717 2 12 2Zm0 1.802c2.67 0 2.985.01 4.04.058.975.045 1.504.207 1.857.344.466.181.8.398 1.15.748.35.35.566.683.748 1.15.137.353.3.882.344 1.857.048 1.054.058 1.37.058 4.04 0 2.668-.01 2.985-.058 4.04-.045.975-.207 1.504-.344 1.857a3.097 3.097 0 0 1-.748 1.15c-.35.35-.683.566-1.15.748-.353.137-.882.3-1.857.344-1.054.048-1.37.058-4.04.058-2.67 0-2.985-.01-4.04-.058-.975-.045-1.504-.207-1.857-.344a3.098 3.098 0 0 1-1.15-.748 3.098 3.098 0 0 1-.748-1.15c-.137-.353-.3-.882-.344-1.857-.048-1.054-.058-1.37-.058-4.04 0-2.67.01-2.985.058-4.04.045-.975.207-1.504.344-1.857.181-.466.398-.8.748-1.15.35-.35.683-.566 1.15-.748.353-.137.882-.3 1.857-.344C9.015 3.811 9.331 3.802 12 3.802ZM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10Zm0 8.243a3.243 3.243 0 1 1 0-6.486 3.243 3.243 0 0 1 0 6.486ZM18.406 6.794a1.2 1.2 0 1 1-2.4 0 1.2 1.2 0 0 1 2.4 0Z",
  },
  {
    label: "LinkedIn",
    href: "#",
    path: "M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286ZM5.337 7.433a2.062 2.062 0 1 1 0-4.124 2.062 2.062 0 0 1 0 4.124ZM7.119 20.452H3.554V9h3.565v11.452ZM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003Z",
  },
  {
    label: "TikTok",
    href: "#",
    path: "M19.59 6.69a4.83 4.83 0 0 1-3.77-4.25V2h-3.45v13.67a2.89 2.89 0 0 1-5.2 1.74 2.89 2.89 0 0 1 2.31-4.64 2.93 2.93 0 0 1 .88.13V9.4a6.84 6.84 0 0 0-1-.05A6.33 6.33 0 0 0 5.8 20.1a6.34 6.34 0 0 0 10.86-4.43V8.97a8.16 8.16 0 0 0 4.77 1.52V7.04a4.85 4.85 0 0 1-1.84-.35Z",
  },
  {
    label: "YouTube",
    href: "#",
    path: "M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814ZM9.545 15.568V8.432L15.818 12l-6.273 3.568Z",
  },
];
---

<footer class="bg-dark-green-900 px-12 py-10">
  <div
    class="flex flex-col items-center gap-6 md:flex-row md:justify-between md:gap-8"
  >
    <div class="flex items-center gap-6">
      <img
        src="/avagolf-sxs-color.svg"
        alt="AVA Golf"
        class="h-9 w-auto"
      />
      <p class="text-micro text-green-300">
        © 2026 AVA Golf. All rights reserved.
      </p>
    </div>

    <ul class="flex flex-wrap items-center gap-x-10 gap-y-3">
      {
        footerLinks.map((l) => (
          <li>
            <a
              href={l.href}
              class="text-footer-link text-grey-300 hover:text-white transition-colors"
            >
              {l.label}
            </a>
          </li>
        ))
      }
    </ul>

    <ul class="flex items-center gap-6">
      {
        socials.map((s) => (
          <li>
            <a
              href={s.href}
              aria-label={s.label}
              class="text-green-300 hover:text-white block transition-colors"
            >
              <svg
                viewBox="0 0 24 24"
                width="22"
                height="22"
                fill="currentColor"
                aria-hidden="true"
              >
                <path d={s.path} />
              </svg>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
